html,
body,
#__next,
#__next > main {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}

.react-datepicker-wrapper {
  width: 100%;
  margin-top: 20px;
  .date-picker-input {
    width: 100%;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    height: 44px;
    padding: 6px 10px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
  }
  ::placeholder {
    color: #828282;
  }
}

#edit-image-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  width: 40px;
  height: 40px;
  border-radius: 20px;
  cursor: pointer;
  z-index: 100;
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}

#photo {
  &:hover {
    opacity: 0.6;
  }
}

#activity-expander {
  .amplify-expander__icon {
    display: none;
  }
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  background-color: #367b92;
}

.Toastify__toast-theme--colored.Toastify__toast--error {
  background-color: #d65745;
}

.MuiListItem-root .MuiTouchRipple-child {
  background-color: red;
}
